In [27]:
import pandas as pd, seaborn as sns, matplotlib.pyplot as plt
import json, re, os, math, random, warnings, scipy, pickle, time, sys, gc
from datascience import *
plt.style.use("seaborn")
%matplotlib inline

## Getting the Data
---

### Making a table

In this portion of the notebook, we will use two different methods to create tables in Jupyter Notebooks using the data we gathered. 

- Method 1: Create arrays that represent columns and append them together
- Method 2: Upload a csv file of the data

### Method 1: Appending Columns
---

The first method involves creating arrays of our desired column values and assigning each array to a variable. An example of how the column, 'Maximum Running Speed (m/s)', is created into an array is provided below.

In [32]:
# Each variable will represent a column in our table
max_speed = [ 0.467     ,  0.938521  ,  0.861822  ,  0.983234  ,  0.9525    ,
        0.888746  ,  0.870966  ,  0.870966  ,  0.57      ,  1.31      ,
        1.542     ,  0.27      ,  0.93      ,  0.81      ,  0.37      ,
        0.54      ,  1.03      ,  0.79      ,  2.6       ,  0.658     ,
        0.743     ,  0.693     ,  0.677     ,  0.688     ,  0.798     ,
        0.50562948,  0.436     ,  0.29      ,  0.688     ,  0.47      ]

**Question 1.** Fill in the column values for each variable.

In [33]:
# Replace the ellipses with the respective column values from the robot data you gathered.
team_number = [...]
gap_crossing_number = [...]
max_gap_distance_crossed = [...]

**Question 2.** After creating columns for team_number, gap_crossing_number, and max_gap_distance_crossed, our next step is to append all of the arrays we created and form a table. In the following code cell, replace the elipses with the array that corresponds to the column name. Then, run the code cell to load the table we created.

In [34]:
# Replace the ellipses with the appropriate variable name
robot_v1 = Table().with_columns( 'Team Number', ...,
                            'Maximum Running Speed (m/s)', ...,
                            'Gap Crossing Speed', ...,
                            'Maximum Gap Distance Crossed', ...)
robot_v1

Team Number | Maximum Running Speed (m/s) | Gap Crossing Speed | Maximum Gap Distance Crossed
Ellipsis    | Ellipsis                    | Ellipsis           | Ellipsis

### Method 2: Uploading a csv file
---

As you can see, the previous method is rather tedious, especially if we want to create a complex table with many columns. In method 2, we create a table by uploading the csv file containing the data. This is the preferred and fastest method.

**Converting Google Sheets to a csv file:**

In order to upload data onto Jupyter Notebooks, we need to convert the existing Google Sheet into a csv (Comma Separated Values) file. To do so from Google Sheets, go to File > Download > Comma Separated Values (csv)

After successfully converting the Google Sheet into a csv file, we can now load the data as a table. In the code cell below, the function <mark>Table.read_table()</mark> can be used to create a table from any csv file that we input. All we have to do is simply input the name of the csv file as a parameter of the function.

In [43]:
# Run the code cell below to load the robot_v2 table from the "clean_robot_18.csv" file.
robot_v2 = Table.read_table("clean_robot_18.csv")
robot_v2

Team Number | Maximum Running Speed (m/s) | Gap Crossing Speed | Maxmum Gap Distance Crossed
1           | 0.467                       | 0.467              | 5.08
2           | 0.938521                    | 0.938521           | 4.3
4           | 0.861822                    | 0.938521           | 4.3
4           | 0.983234                    | 0.938521           | 4.3
4           | 0.9525                      | 0.938521           | 4.3
4           | 0.888746                    | 0.938521           | 4.3
4           | 0.870966                    | 0.938521           | 4.3
4           | 0.870966                    | 0.889              | 8.9
5           | 0.57                        | 0.05               | 3
7           | 1.31                        | 1.31               | 4
... (20 rows omitted)